# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Wrangler temp files
.wrangler

# Local env files
.env
.env.*
!.env.example

# Playwright/Testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests/fixtures/.auth/
/tests/visual/screenshots/
/tests-examples/
**/*.spec.ts-snapshots/
